.nav-txt-font{
  font-family: 'Mooli', sans-serif;
  /* margin-bottom: 10px; */
}
.nav-element-hover
{
  display: inline-block;
  position: relative;
  color: #00806B;
  font-style: italic;
}
.nav-element-hover::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#00806B;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-element-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-frop-animation
{
  box-shadow: inset 0 0 0 0 #4ca64c;
  color:black;
  /* padding: 0 .1rem; */
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.nav-frop-animation:hover{
  box-shadow: inset 160px 0 0 0 #4ca64c;
  color: white
}
.nav-txt-color{
  display: inline-block;
  color:black; 
}
.nav-txt-color:hover {
  color: green; 
  }

  /* AboutUs.css */
.about-us-container {
  margin-top: 50px;
}

.about-us-card {
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.about-us-card:hover {
  transform: scale(1.05); /* Scale the card slightly on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
  box-shadow: #4ca64c;
  border-color: yellowgreen;
}

/* Additional styles can be added as needed */


.dropdown-item
{
  box-shadow: inset 0 0 0 0 #4ca64c;
  color:black;
  /* padding: 0 .1rem; */
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.dropdown-item:hover{
  box-shadow: inset 160px 0 0 0 #4ca64c;
  color: white
}


.in-button{
  /* padding: 0.8em 1.8em; */
  padding-left: 2px;
  border: 2px solid #00806B;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border-radius: 25px;
  width: 155px;
  padding-right: 2px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  font-weight: bold;
  font-style: italic;
  color: #00806B;
 }
 
.in-button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #00806B;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .in-button:hover::before {
  width: 105%;
 }
 
 .in-button:hover {
  color: #ffff;
 }

 